<!-- Custom HTML for image captions. This old version is without popup option.
<figure style="display: block; clear: both; width: fit-content; margin: 1em auto;">
  <img
    src="{{ include.file }}"
    alt="{{ include.description }}"
    style="max-width: {{ include.width | default: '100%' }}; height: auto; display: block; margin: 0 auto;"
  />
  <figcaption
    style="display: block; width: 100%; font-size: 0.9em; margin-top: 0.5em; text-align: center; clear: both;"
  >
    {{ include.description | markdownify }}
  </figcaption>
</figure>
-->
<figure class="{{ include.class }}">
  {%- if include.popup -%}<a href="{{ include.image_path | relative_url }}" class="image-popup"{% if include.caption %} title="{{ include.caption | markdownify | strip_html }}"{% endif %}>{%- endif -%}
  <img src="{{ include.image_path | relative_url }}"
       alt="{% if include.alt %}{{ include.alt | escape_once }}{% endif %}"
       style="max-width: {{ include.width | default: '100%' }}; height: auto; display: block; margin: 0 auto;">
  {%- if include.popup -%}</a>{%- endif -%}
  {%- if include.caption -%}
    <figcaption style="display: block; width: 100%; font-size: 0.9em; margin-top: 0.5em; text-align: center; clear: both;">
      {{ include.caption | markdownify | remove: "<p>" | remove: "</p>" }}
    </figcaption>
  {%- endif -%}
</figure>
